.footer {

    background: #333A44;
    padding-top: 35px;
    padding-bottom: 32px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
    }

    &__logo-link {
        margin-right: 58px;
    }

    &__logo-img {
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {
        display: flex;
        gap: 32px;
        margin-right: 550px;
    }

    &__list-item-link {
        
    }

    &__list-link {
    font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        
        &:hover{
            color: $yellow;

            &:active{
                opacity: 0.5;
            }
        }
    }

    &__icon-list {
        display: flex;
        
    }

    &__icon-item {
    }

    &__icon-link {
        display: flex;
        margin-right: 30px;
    }

    .footer__svg{

        color: $yellow;

        &:hover{
            color: #fff;
        }

    }

}

@media only screen and (max-width: 1100px) {
    /*  */

    .footer {

        &__list-item {
            display: flex;
            gap: 32px;
            margin-right: 400px;
        }
    
    }
}

@media only screen and (max-width: 985px) {
    /*  */

    .footer {

        &__list-item {
            display: flex;
            gap: 32px;
            margin-right: 300px;
        }
    
    }
}

@media only screen and (max-width: 985px) {
    /*  */

    .footer {

        &__list-item {
            display: flex;
            gap: 32px;
            margin-right: 200px;
        }
    
    }
}

@media only screen and (max-width: 985px) {
    /*  */

    .footer {

        &__list-item {
            display: flex;
            gap: 32px;
            margin-right: 100px;
        }
    
    }
}


@media only screen and (max-width: 685px) {
    /*  */

    .footer {
    
        &__wrapper {
            display: flex;
            flex-direction: column;
            
        }
    
        &__logo {
        }
    
        &__logo-link {
            margin: 0 auto;
        }
    
        &__logo-img {
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 41px;
        }
    
        &__list-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 151px;
            gap: 32px;
        }
    
        &__list-item-link {
            
        }
    
        &__list-link {
        }
    
        &__icon-list {
            display: flex;
            margin-left: 127px;
            margin-right: 127px;
        }
    
        &__icon-item {
        }
    
        &__icon-link {
            display: flex;
            margin-top: 87px;
            
        }
    
        .footer__svg{
    
            color: $yellow;
    
            &:hover{
                color: #fff;
            }
    
        }
    
    }
}

@media only screen and (max-width: 425px) {
    /*  */

    .footer {
    
        &__wrapper {
            display: flex;
            flex-direction: column;
            
        }
    
        &__logo {
        }
    
        &__logo-link {
            margin: 0 auto;
        }
    
        &__logo-img {
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-top: 41px;
        }
    
        &__list-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 32px;
        }
    
        &__list-item-link {
            
        }
    
        &__list-link {
        }
    
        &__icon-list {
            display: flex;
            margin-left: 160px;
            
        }
    
        &__icon-item {
        }
    
        &__icon-link {
            display: flex;
            margin-top: 87px;
            
        }
    
        .footer__svg{
    
            color: $yellow;
    
            &:hover{
                color: #fff;
            }
    
        }
    
    }
}